body {
  background-color: #e6ecf0;
  color: black;
  margin: 0;
  font-family: sans-serif;
}

.team-logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  background-color: white;
  padding: 10px;
  display: block;
}

.nba-logo {
  height: 60px;
  width: auto;
  margin-left: 10px;
  vertical-align: middle;
}

.nba-logo-inline {
  width: 100%;
  max-width: 40px;
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
}

.logo-size {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.details-logo {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 1rem;
}


.champions-list{
  columns: 2;
}

.team-grid {
  border-radius: 5px;
  border-color: aliceblue;
  padding: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}


.form-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

.team-item {
  border: 1px solid #0C2340;
}

.team-information {
  background-color: #0C2340;
  color: white;
  padding: 0.5rem;
  margin-top: 0;
}

.adding {
  text-align: center;
}

.details {
  margin-top: 2rem;
  padding: 0 10rem;
}


.details-text {
  max-width: 600px;
}


a {
  color: #0C2340;
}


.team-link {
  color: white;
}

.custom-btn{
  background-color: #0C2340;
  color: white;
}

/* Aufgrund von Bootratrap verschwindet die Farbe des Buttons Update und mit dem behalte ich es: */
.custom-btn:hover {
  background-color: #0C2340;
  color: white;
}

h1 {
  text-align: center;
}

.img_position {
  width: 50%;
  height: auto;
}
